@page "/environmentalkpi"
@attribute [Authorize(Policy = "NotGuest")]

<PageTitle>Environmental KPIs</PageTitle>

<h1>Environmental KPIs</h1>

<p>
    <a href="/climate&energy" class="link">Climate and Energy</a>
</p>

<h2>Energy Consumption</h2>
<p>Details about energy consumption can be found on the Climate and Energy page.</p>

<h2>Greenhouse Gas (GHG) Emissions</h2>
<p>Details about GHG emissions can be found on the Climate and Energy page.</p>

<p>
    <a href="/environmentalmanagement" class="link">Environmental Management</a>
</p>

<h2>Resource Consumption</h2>
<p>Details about Resource consumption can be found on the Environmental Management page.</p>

<style>
    h1 {
        font-size: 2em;
        color: #2c3e50;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.5em;
        color: #34495e;
        margin-top: 20px;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
        color: #34495e;
    }

    a {
        color: rgba(65, 75, 86);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .link {
        text-decoration: underline;
        color: #007bff;
    }

    .link:hover {
        color: #0056b3;
    }
</style>
