
.page[b-pui3qmsk44] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pui3qmsk44] {
    flex: 1;
}

.main-content.full-width[b-pui3qmsk44] {
    margin-left: 0 !important;
}

.sidebar[b-pui3qmsk44] {
    background-image: linear-gradient(180deg, rgba(26, 32, 38, 1) 0%, rgba(54, 65, 76, 1));
    z-index: 5; 
}


.top-row[b-pui3qmsk44] {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    justify-content: flex-end;
    height: 3.5rem; /* Tilbage til den oprindelige højde */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10; 
}

.page-content[b-pui3qmsk44] {
    position: relative;
    background-image: url('images/NilfiskBaggrund.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    padding: 20px; 
    color: white; 
    z-index: 1; 
}

@media (max-width: 640.98px) {
    .top-row[b-pui3qmsk44] {
        justify-content: space-between;
    }

    .top-row[b-pui3qmsk44]  a, .top-row[b-pui3qmsk44]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pui3qmsk44] {
        flex-direction: row;
    }

    .sidebar[b-pui3qmsk44] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pui3qmsk44] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-pui3qmsk44] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-pui3qmsk44] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
